#africa{ 
    display: flex;       
}

#gender { 
    display: flex; 
    text-align: center;
    margin-left: 400px;
}
#gender h2{
    color: #397754;
}
.genderB{
    justify-content: flex;
}
#Form{
    justify-content: flex;
    text-align: center;
    margin-top: 50px;
}
h1{
    text-align: center;
    color: #397754;
} 
body{
    background-image: linear-gradient(to right, #6699cc , #ff3c38);

}
img {
    text-align: center;
    margin-left: 470px;
}
h4 {
    text-align: right;
}
.paragraph{
    border: 2px solid black;
}