#africa{ 
    display: flex;       
}
div {
    border: 2px dotted red; 
}
#gender { 
    display: flex; 
    text-align: center;
    margin-left: 470px;
}
#gender h2{
    color: #397754;
}
#form{
    text-align: center;
}
h1{
    text-align: center;
    color: #397754;
} 
body{
    background-color: rgb(225, 209, 226)
}
img {
    text-align: center;
    margin-left: 470px;
}