#africa{ 
    display: flex;       
}

#gender { 
    display: flex; 
    text-align: center;
    margin-left: 400px;
}
#gender h2{
    color: #397754;
}
#Form{
    text-align: center;
    margin-top: 50px;
}
h1{
    text-align: center;
    color: #397754;
} 
body{
    background-color: rgb(225, 209, 226)
}
img {
    text-align: center;
    margin-left: 470px;
}
h4 {
    text-align: right;
}